body{
			color: white;
			background-color: black;
		}
		input[type="submit"]{
			border: none;
			border-radius: 5px;
			background-color: #2196f3;
			width: 50px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.portifolio{
			border-radius: 10px;
			background-color: blue;
			padding: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.portifolio input{
			outline-color: none;
		}
		h1{
			text-align: center;
		}